@import url("./colors.css");

.calendar-dow-container {
    color: var(--lightGray);
    display: grid;
    grid-template-columns: 12.45% 12.45% 12.45% 12.45% 12.45% 12.45% 12.45%;
    grid-template-rows: 50px;
    width: 90%;
    margin: 0 auto;
    grid-gap: 20px;
    overflow: scroll;
}

.calendar-dow-container > div, .calendar-week-container > div {
    text-align: center;
}

.calendar-week-container {
    display: grid;
    grid-template-columns: 12.45% 12.45% 12.45% 12.45% 12.45% 12.45% 12.45%;
    /*height from html*/
    grid-gap: 20px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.today {
    color: var(--tint1);
}

.event-content-container {
    display: grid;
    grid-column-gap: 3px;
    grid-template-columns: 2px auto auto;
}

.event-tag {
    background-color: var(--tint1);
    border-radius: 10px;
}

.event-details {
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    text-align: left;

}

.event-time {
    font-size: 7pt;
    color: var(--lightGray);

    /* baseline align */
    position: relative;
    top: 75%;
    transform: translateY(-75%);
}
