@import url("./colors.css");

.calendar-dow-container {
    color: var(--lightGray);
    display: grid;
    grid-template-columns: 12.45% 12.45% 12.45% 12.45% 12.45% 12.45% 12.45%;
    grid-template-rows: 50px;
    width: 90%;
    margin: 0 auto;
    grid-gap: 20px;
    overflow: scroll;
}

.calendar-dow-container > div, .calendar-week-container > div {
    text-align: center;
}

.calendar-week-container {
    display: grid;
    grid-template-columns: 12.45% 12.45% 12.45% 12.45% 12.45% 12.45% 12.45%;
    /*height from html*/
    grid-gap: 20px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.today {
    color: var(--tint1);
}

.event-content-container {
    height: 10px;
}

.event-content-container div {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 16.2px;
    margin-bottom: 4px;
}

.event-tag {
    width: 2px;
    background-color: var(--tint1);
    border-radius: 10px;
    margin-right: 3%;
}

.event-time {
    text-align: right;
    margin-top: 4px;
    width: calc(47% - 1px);
    font-size: 7pt;
    margin-left: 3%;
    color: var(--lightGray);
}

.event-details {
    font-size: 10pt;
    width: calc(47% - 1px);
    text-align: left;
    max-width: 100%;
    overflow: hidden;

}
