@import url("./colors.css");

.calendar-dow-container {
  color: var(--lightGray);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 50px;
  width: 90%;
  margin: 0 auto;
  grid-gap: 20px;
}

.calendar-dow-container > div, .calendar-week-container > div {
  text-align: center;
}

.calendar-week-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /*height from html*/
  grid-gap: 20px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.event-content-container {
    overflow:hidden;
}

.event-content-container div {
    width:50%;
    display: inline-block;
    /*float:left;*/
}

.event-tag {
  background-color: green;
  width: 2px;
  background: var(--tint1);
  /*height: 100%;*/
  /*float: left;*/
}

.event-detail {
  font-size: 10pt;
}

.event-time {
    /*height: 100%;*/
    /*width: 10%;*/
    float: right;
    font-size: 10pt;
    text-align: right;
}
