@import url("global/colors.css");
@import url("global/fonts.css");
@import url("global/const.css");

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-header {
    margin: 0 var(--margin) 0 var(--margin);
    text-align: center;
    font-size: 1.4em;
    font-family: "Lato Thin";
    color: var(--tint1);
    height: var(--card-header);
    position: relative;
}

.card-header .card-separator {
    position: absolute;
    bottom: 0;
}

.card-separator {
    background-color: var(--separator);
    height: 1px;
    width: 100%;
    margin: 0 auto;
}
