@import url("colors.css");
@import url("fonts.css");

body, html {
  background-color: var(--background);
  font-family: "Lato Regular";
  height: 100%;
  padding: 0;
  margin: 0;
}

.cards-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 6px));
  grid-template-rows: repeat(2, calc(50% - 15px));
  grid-gap: 10px;
}

#calendar-card {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

#today-card {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#weather-card {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
