@import url("global/colors.css");
@import url("global/fonts.css");
@import url("global/const.css");


body, html {
    background-color: var(--background);
    font-family: "Lato Regular";
}

body {
    display: flex;
}


#calendar-card {
    height: calc(100% - 2*var(--margin));
    margin: var(--margin);
    flex: 1;  /* grow */
}

#right-container {
    height: calc(100% - 2*var(--margin));
    margin: var(--margin) var(--margin) var(--margin) 0;
    flex: 0 0 270px; /* do not grow, do not shrink, start at 250px */
}

#weather-card {
    margin-bottom: var(--margin);
    height: calc(50% - var(--margin));
}

#holidays-card {
    height: 50%;
}