@import url("global/colors.css");
@import url("global/const.css");


.forecast-container {
    margin: var(--margin);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: calc(100% - var(--card-header) - (var(--margin)*2));
    grid-template-rows: repeat(4, auto);
    overflow: hidden;
}

.forecast-content-container div, .forecast-content-container p {
    position: relative;
    text-align: center;
}

.forecast {
    margin-bottom: 15px;
}


.forecast-icon-container {
    height: 40px;
    vertical-align: middle;
}

.forecast-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*width: 40px;*/
    /*height: 40px;*/
    max-width: 80%;
    max-height: 90%
}

.forecast-day {
    color: var(--lightGray);
    font-family: "Lato Regular";
    margin-bottom: 5px;
}
