<div class="card-header">
    <h3 class="center-xy">Holidays</h3>
    <div class="card-separator center-x"></div>
</div>


<div id="holidays-container">
    {{#holidays}}
        <p class="holiday-title">{{title}}</p>
        <p class="holiday-date">{{date}}</p>
    {{/holidays}}
</div>