<div class="weather-header">
    <div class='flex-row weather-text-header'>
        <img class="header-icon" src="./_assets/imgs/{{currentWeatherCode}}.png">
        <h3>{{currentWeather}}</h3>

    </div>
    <div class="card-separator"></div>
</div>

<div id='hourly'>
    <div id='hourly_container'>
        {{#hours}}
            <div class='daily-hour'>
                <span class='time'>{{hour}}</span>
                <span>{{hourTemp}}</span>
                <span class='rain-perc'>{{hourRainPerc}}</span>
            </div>
        {{/hours}}
    
    </div>
    <div class="card-separator center-x" style="margin-top:10px"></div>
</div>


<div class="forecast-container">

    {{#forecast}}
    <div class="forecast">
        <div class="forecast-content-container center-xy">

            <div class="forecast-icon-container">
                <img class="forecast-icon" src="./_assets/imgs/{{weatherCode}}.png">
                <!--<canvas id="{{forecastIcon}}" width="60" height="60"></canvas>-->

            </div>

            <p class="forecast-day">{{forecastDay}}</p>
            <p class="forecast-temp">{{forecastTemp}}</p>
        </div>

    </div>
    {{/forecast}}

</div>
