@font-face {
    font-family: "Lato Light";
    src: url("../../_assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("../../_assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Thin";
    src: url("../../_assets/fonts/Lato-Thin.ttf");
}

@font-face {
    font-family: "Lato Medium";
    src: url("../../_assets/fonts/Lato-Medium.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("../../_assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato Italic";
    src: url("../../_assets/fonts/Lato-Italic.ttf");
}

@font-face {
    font-family: "Lato Semibold Italic";
    src: url("../../_assets/fonts/Lato-Semibolditalic.ttf");
}


@font-face {
    font-family: "Lato Semibold";
    src: url("../../_assets/fonts/Lato-Semibold.ttf");
}








